


<div class="alert alert-primary" role="alert">
    Zpool
</div>
<table class="table table-sm table-striped table-bordered">
    <thead>
    <tr>
        <th>Disk</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let zp of zpool">
        <td>{{ zp.disk }}</td>
        <td [ngClass]="{'table-danger': zp.state != 'ONLINE'}"
        >{{ zp.state }}</td>
    </tr>
    </tbody>
</table>


<div class="alert alert-primary" role="alert">
    zfs list
</div>
<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>name</th>
            <th>used</th>
            <th>avail</th>
            <th>mounted</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let zfsItm of zfslist">
        <td>{{ zfsItm.name }}</td>
        <td>{{ zfsItm.usedRaw }}</td>
        <td>{{ zfsItm.availRaw }}</td>
        <td>{{ zfsItm.mounted}}</td>
    </tr>
    </tbody>
</table>

