<p>host works!</p>

<section>
 <h2>Hostname</h2>
 <div class="row">
   <div class="col-10">
     <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-summary-tab" data-toggle="tab" href="#nav-summary" role="tab" aria-controls="nav-summary" aria-selected="true">Summary</a>
    <a class="nav-item nav-link" id="nav-processes-tab" data-toggle="tab" href="#nav-processes" role="tab" aria-controls="nav-processes" aria-selected="false">Processes</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-cpu" role="tab" aria-controls="nav-cpu" aria-selected="false">CPU</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-memory" role="tab" aria-controls="nav-memory" aria-selected="false">Memory</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-disks" role="tab" aria-controls="nav-disks" aria-selected="false">Disks</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-zfs" role="tab" aria-controls="nav-zfs" aria-selected="false">ZFS</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-btrfs" role="tab" aria-controls="nav-btrfs" aria-selected="false">BTRFS</a>

    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-llvm" role="tab" aria-controls="nav-llvm" aria-selected="false">LVM</a>

    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-network" role="tab" aria-controls="nav-network" aria-selected="false">Network</a>



  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-summary" role="tabpanel" aria-labelledby="nav-summary-tab">summ</div>
  <div class="tab-pane fade" id="nav-processes" role="tabpanel" aria-labelledby="nav-processes-tab">proc</div>
  <div class="tab-pane fade" id="nav-cpu" role="tabpanel" aria-labelledby="nav-cpu-tab">cpu.</div>

  <div class="tab-pane fade" id="nav-memory" role="tabpanel" aria-labelledby="nav-memory-tab">mem</div>
  <div class="tab-pane fade" id="nav-disks" role="tabpanel" aria-labelledby="nav-disks-tab">disk</div>
  <div class="tab-pane fade" id="nav-zfs" role="tabpanel" aria-labelledby="nav-zfs-tab">zfs.</div>

  <div class="tab-pane fade" id="nav-btrfs" role="tabpanel" aria-labelledby="nav-btrfs-tab">btrfs.</div>

  <div class="tab-pane fade" id="nav-llvm" role="tabpanel" aria-labelledby="nav-llvm-tab">lvm.</div>

  <div class="tab-pane fade" id="nav-network" role="tabpanel" aria-labelledby="nav-network-tab">netowork</div>



</div>


    </div>
   </div>

</section>
