<section>
  <div class="row">
    <div class="col-10">
      <table class="table table-sm table-bordered table-striped table-hover">
        <tbody>
        <tr>
          <td>OS</td>
          <td>Fedora release 32 (Thirty Two) x86_64
          </td>
        </tr>
        <tr>
          <td>Kernel</td>
          <td> 5.6.8-300.fc32.x86_64
          </td>
        </tr>
        <tr>
          <td> Uptime:
          </td>
          <td> 17 mins</td>
        </tr>

        <tr>
          <td>Packages</td>
          <td>892</td>
        </tr>
        <tr>
          <td>CPU</td>
          <td> Intel i5-5200U (4) @ 2.700GHz</td>
        </tr>
        <tr class="table-danger">
          <td>Load Average</td>
          <td> 9.01</td>
        </tr>
        <tr>
          <td>Memory</td>
          <td>3383MiB / 5857MiB </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</section>
