<section>
  <div class="row">
    <div class="col-10">
      <table class="table table-sm table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Type</th>
            <th>Used</th>
            <th>Free</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>Memory</td>
          <td>1200</td>
          <td>10800</td>
          <th>120000</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>



</section>
