<section>
  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th>Filesystem</th>
        <th>Size</th>
        <th>Used</th>
        <th>Avail</th>
        <th>Use%</th>
        <th>Mounted on</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>devtmpfs</td>
        <td>2.9G</td>
        <td>0</td>
        <td>2.9G</td>
        <td>0</td>
        <td>/dev</td>
      </tr>
      <tr>
        <td>tmpfs</td>
        <td>2.9G</td>
        <td>21M</td>
        <td>2.9G</td>
        <td>1% </td>
        <td>/dev/shm</td>
      </tr>
      <tr>
        <td>tmpfs</td>
        <td>2.9G</td>
        <td>1.6M</td>
        <td>2.9G</td>
        <td>1% </td>
        <td>/run</td>
      </tr>
      <tr>
        <td>/dev/mapper/fedoravg-kern</td>
        <td>118G</td>
        <td>11G</td>
        <td>102G</td>
        <td>10%</td>
        <td>/</td>
      </tr>
      <tr>
        <td>tmpfs</td>
        <td>2.9G</td>
        <td>92K</td>
        <td>2.9G</td>
        <td>1% </td>
        <td>/tmp</td>
      </tr>
      <tr>
        <td>/dev/sda5</td>
        <td>388M</td>
        <td>303M</td>
        <td>66M</td>
        <td>83%</td>
        <td> /boot</td>
      </tr>
      <tr>
        <td>/dev/mapper/fedoravg-hjem</td>
        <td>98G</td>
        <td>6.1G</td>
        <td>87G</td>
        <td>7%</td>
        <td>/home</td>
      </tr>
      <tr>
        <td>tmpfs</td>
        <td>586M</td>
        <td>44K</td>
        <td>586M</td>
        <td>1%</td>
        <td>/run/user/1000</td>
      </tr>
    </tbody>
  </table>
</section>
